<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <title>Welcome to Inventory Management System</title>
    </head>
    <body style="text-align: center;">
        {{>header}}
       <h1 style="color:red">Welcome to Inventory Management System! </h1><br>
        <h2>
        <ul style="color: blue;" type="none">
        <li><a href="./inventory">Inventory details</a></li>
        <li><a href="./members">Members list</a></li>
        <li><a href="./issue">Inventory Issue list</a></li>
        <li><a href="./extra">Extra Module</a></li>
        </ul>
        </h2>

        {{>footer}}
    </body>
</html>
